body{

    margin:0;
    font-family: 'Silkscreen', sans-serif;
    background-image: url('/../img/grass.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  h1 {
    font-size: 70px;
    text-align: center;
    
  }
  #canvas{
    display:block;
    position:fixed;

    height:508px;
    left:50%;
    margin-left:-142px;
    top:50%;
    margin-top:-130px;
    border:3px solid #666;
  }
  #insert,#help{
    position:fixed;
    display:block;
    width:100%;
    text-align:center;
    font-family: 'Silkscreen', sans-serif;
    font-size:30px;
    top:50%;

    background-color: #3bb143;
    margin: 5px darkgreen solid;
  }
  #help{
    font-size:20px;
}
  #overlay{
    position:fixed;
    display:block;
    background-color:rgba(255,255,255,0.8);
    top:50%;
    left:50%;
    text-align:center;
    text-overflow: wrap;
    font-family: 'Silkscreen', sans-serif;
    font-size:40px;
    font-weight:bold;
  }

  spec{
    font-size:50px;
    font-family: 'Silkscreen', sans-serif;
  }
  #btn{
    display:none;
    position: fixed;
    width: 200px;
    height: 40px;
    background-color: orange;
    border: 3px solid orangered;
    font-family: 'Silkscreen', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: black;
    line-height: 40px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -103px;
    margin-top: 60px;
    cursor: pointer;
  }


